SYSTEM.RESULTS.AUTOOPEN=1;
SYSTEM.RESULTS.TABSIZE=-1;
SYSTEM.RESULTS.VIEWMODE=2;
SYSTEM.COLORMAP.INCLUDELEVELSANDCOLORONLY=1;
SYSTEM.DATADISPLAY.AUTOFIT=1;
SYSTEM.DATADISPLAY.BKCOLOR=0;
SYSTEM.DATADISPLAY.DOCKING=0;
SYSTEM.DATADISPLAY.FONT$=Default;
SYSTEM.DATADISPLAY.RESIZE=2;
SYSTEM.DATADISPLAY.TXTCOLOR=2;
SYSTEM.DATADISPLAY.MinFontSize=9;
SYSTEM.DATAINFO.AUTOFIT=1;
SYSTEM.DATAINFO.BKCOLOR=18;
SYSTEM.DATAINFO.DOCKING=0;
SYSTEM.DATAINFO.FONT$=Default;
SYSTEM.DATAINFO.RESIZE=2;
SYSTEM.DATAINFO.TXTCOLOR=0;
SYSTEM.DATAINFO.MinFontSize=9;
SYSTEM.LINE.COLOR=1;
SYSTEM.LINE.WIDTH=0.5;
SYSTEM.LINE.LINETYPE=0;
SYSTEM.LINE.ARROWPOSITION=0;
SYSTEM.LINE.ARROWBEGINWIDTH=5;
SYSTEM.LINE.ARROWBEGINLENGTH=10;
SYSTEM.LINE.ARROWBEGINSHAPE=0;
SYSTEM.LINE.ARROWENDWIDTH=5;
SYSTEM.LINE.ARROWENDLENGTH=10;
SYSTEM.LINE.ARROWENDSHAPE=0;
SYSTEM.LINE4.COLOR=1;
SYSTEM.LINE4.WIDTH=0.5;
SYSTEM.LINE4.LINETYPE=0;
SYSTEM.LINE4.ARROWPOSITION=0;
SYSTEM.LINE4.ARROWBEGINWIDTH=5;
SYSTEM.LINE4.ARROWBEGINLENGTH=10;
SYSTEM.LINE4.ARROWBEGINSHAPE=0;
SYSTEM.LINE4.ARROWENDWIDTH=5;
SYSTEM.LINE4.ARROWENDLENGTH=10;
SYSTEM.LINE4.ARROWENDSHAPE=0;
SYSTEM.POLYLINE.COLOR=1;
SYSTEM.POLYLINE.WIDTH=0.5;
SYSTEM.POLYLINE.LINETYPE=0;
SYSTEM.POLYLINE.ARROWPOSITION=0;
SYSTEM.POLYLINE.ARROWBEGINWIDTH=5;
SYSTEM.POLYLINE.ARROWBEGINLENGTH=10;
SYSTEM.POLYLINE.ARROWBEGINSHAPE=0;
SYSTEM.POLYLINE.ARROWENDWIDTH=5;
SYSTEM.POLYLINE.ARROWENDLENGTH=10;
SYSTEM.POLYLINE.ARROWENDSHAPE=0;
SYSTEM.RECT.COLOR=1;
SYSTEM.RECT.WIDTH=0.5;
SYSTEM.RECT.LINETYPE=0;
SYSTEM.RECT.BACKCOLOR=19;
SYSTEM.RECT.FORECOLOR=1;
SYSTEM.RECT.FILLPATTERN=0;
SYSTEM.RECT.FILLWIDTH=1;
SYSTEM.CIRCLE.COLOR=1;
SYSTEM.CIRCLE.WIDTH=0.5;
SYSTEM.CIRCLE.LINETYPE=0;
SYSTEM.CIRCLE.BACKCOLOR=19;
SYSTEM.CIRCLE.FORECOLOR=1;
SYSTEM.CIRCLE.FILLPATTERN=0;
SYSTEM.CIRCLE.FILLWIDTH=1;
SYSTEM.POLYGON.COLOR=1;
SYSTEM.POLYGON.WIDTH=0.5;
SYSTEM.POLYGON.LINETYPE=0;
SYSTEM.POLYGON.BACKCOLOR=19;
SYSTEM.POLYGON.FORECOLOR=1;
SYSTEM.POLYGON.FILLPATTERN=0;
SYSTEM.POLYGON.FILLWIDTH=1;
SYSTEM.DEBUG=0;
SYSTEM.EXPLORER=1;
SYSTEM.EXTBACKCOLOR=1;
SYSTEM.PAGECOL=0;
SYSTEM.PAGEROW=0;
SYSTEM.TEMPLATEPATH=0;
SYSTEM.WINVIEWFSIZE=1;
SYSTEM.ShowOneNameInPE=1;
